<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="Seller" asp-controller="Home" asp-action="Index" class="nav-link ">داشبورد</a></li>
        <li> <a asp-area="Seller" asp-controller="Product" asp-action="CreateProduct" class="nav-link" >ایجاد محصول</a></li>
        <li> <a asp-area="Seller" asp-controller="Product" asp-action="Index" class="nav-link" >لیست محصولات</a></li>
        <li><a asp-controller="Account" asp-action="LogOut" class="nav-link" >خروج</a></li>
    </ul>
</div>