@{
    var hasAnyActiveSellerPanel = (bool) ViewBag.hasAnyActiveSellerPanel;
}
<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard" class="nav-link ">داشبورد</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="nav-link">تغیر کلمه عبور</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="EditProfile" class="nav-link"> ویرایش پروفایل </a></li>
        <li> <a asp-area="User" asp-controller="Ticket" asp-action="AddTicket" class="nav-link"> ایجاد تیکت </a></li>
        <li> <a asp-area="User" asp-controller="Ticket" asp-action="Index" class="nav-link"> لیست تیکت </a></li>
        <li> <a asp-area="User" asp-controller="Seller" asp-action="RequestSellerPanel" class="nav-link"> درخواست پنل </a></li>
        <li> <a asp-area="User" asp-controller="Seller" asp-action="SellerRequests" class="nav-link"> لیست درخواست ها </a></li>
        <li> <a asp-area="Seller" asp-controller="Home" asp-action="Index" class="nav-link">پنل فروشندگی </a></li>
        <li><a asp-controller="Account" asp-action="LogOut" class="nav-link">خروج</a></li>
    </ul>
</div>