<div class="dashboard_tab_button">
    <ul role="tablist" class="nav flex-column dashboard-list">
        <li><a asp-area="User" asp-controller="Home" asp-action="Dashboard" class="nav-link ">داشبورد</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="ChangePassword" class="nav-link active">تغیر کلمه عبور</a></li>
        <li> <a asp-area="User" asp-controller="Account" asp-action="EditProfile" class="nav-link active"> ویرایش پروفایل </a></li>
        <li><a href="#" data-toggle="tab" class="nav-link">دریافت ها</a></li>
        <li><a href="#" data-toggle="tab" class="nav-link">آدرس ها</a></li>
        <li><a href="#" data-toggle="tab" class="nav-link">جزئیات حساب</a></li>
        <li><a herf="#">خروج</a></li>
    </ul>
</div>