@model MarketPlace.DataLayer.DTOs.Paging.BasePaging
<div class="shop_toolbar t_bottom">
    <div class="pagination">
        <ul>
            @if (Model.StartPage < Model.PageId)
            {
                <li><a class="previous" onclick="FillPageId@(Model.PageId - 1)">قبلی</a></li>
            }
            @for (int i = Model.StartPage; i <= Model.EndPage; i++)
            {
                <li><a class="@(Model.PageId == i ? "current" : "")" onclick="FillPageId(@i)">@i </a></li>

            }
            @if (Model.EndPage > Model.PageId)
            {
                <li><a class="next" onclick="FillPageId(@(Model.PageId+ 1))">بعدی</a></li>
            }
        </ul>
    </div>
</div>
